/* Animated Character CSS */
.character-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  /* Scale will be controlled by parent container */
}

.character-wrapper.speaking .head {
  animation: music-move 1s infinite alternate ease-in-out !important;
}

.character-wrapper.speaking .music-note {
  animation: note-anim 2s infinite ease !important;
}

.background-circle {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: visible;
  margin: 0 auto;
  background: #95B3BF;
  position: relative;
}

.border-circle {
  width: 399px;
  height: 399px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -220px;
  border: 10px solid #FCB040;
  transform: scale(1);
}

.body {
  width: 285px;
  height: 200px;
  margin: 0 auto;
  background: #222;
  border-radius: 100px 100px 0 0;
  position: relative;
  top: 200px;
  transform: scale(1) translateY(0);
}

.head {
  width: 196px;
  height: 260px;
  border-radius: 50px;
  background: #FFE4BE;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -98px;
  transform: scale(1);
  transform-origin: bottom;
  overflow: visible;
  z-index: 100;
}

.hair-main {
  width: 220px;
  height: 137px;
  background: #E7AB57;
  border-radius: 54px 54px 0px 0px;
  margin-left: -12px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.hair-top {
  width: 128px;
  height: 70px;
  opacity: 1;
  border-top-right-radius: 30px;
  background: #E7AB57;
  position: relative;
  top: -17px;
  left: 50%;
  transform: translateX(-64px);
}

.hair-bottom {
  width: 54px;
  height: 20px;
  opacity: 1;
  border-bottom-left-radius: 25px;
  background: #E7AB57;
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(-27px);
}

.sideburn {
  width: 8px;
  height: 25px;
  background: #E7AB57;
  position: absolute;
  bottom: -45px;
  opacity: 3;
}

.sideburn#left {
  left: 12px;
}

.sideburn#right {
  right: 12px;
}

.face {
  width: 180px;
  height: 137px;
  border-radius: 48px 48px 0 0;
  background: #FFE4BE;
  position: absolute;
  top: 40px;
  left: 8px;
  z-index: 3;
}

.nose {
  width: 20px;
  height: 45px;
  opacity: 1;
  background: #FFE4BE;
  border-top-left-radius: 20px;
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -20px;
  z-index: 5;
}

.ear {
  width: 24px;
  height: 35px;
  background: #FFE4BE;
  border-radius: 12px;
  position: absolute;
  top: 116px;
  transform: scale(1);
}

.mouth {
  width: 66px;
  height: 33px;
  border-radius: 0 0 33px 33px;
  background: white;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -33px;
  transform: scale(1);
}

.ear#left {
  left: -12px;
}

.ear#right {
  right: -12px;
}

.eye-shadow {
  width: 30px;
  height: 15px;
  border-radius: 0 0 15px 15px;
  background: rgba(149, 36, 0, 0.1);
  position: absolute;
  top: 110px;
  transform: scale(1);
  z-index: 10;
}

.eye-shadow#left {
  left: 35px;
}

.eye-shadow#right {
  right: 35px;
}

.eyebrow {
  width: 40px;
  height: 10px;
  background: #E7AB57;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -20px;
  opacity: 1;
  z-index: 12;
}

.eye-shadow#right .eyebrow {
  transform: rotate(9deg);
  animation: eyebrow-raise 2s infinite alternate ease-in-out;
}

.eye {
  width: 20px;
  height: 28px;
  border-radius: 10px;
  background: #334C68;
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -10px;
  transform: scale(1);
  transform-origin: bottom;
  animation: eye-blink 4s infinite linear;
  z-index: 11;
}

.shadow-wrapper {
  width: 98px;
  height: 260px;
  position: absolute;
  left: -8px;
  bottom: -84px;
  z-index: 4;
  overflow: hidden;
}

.shadow {
  width: 98px;
  height: 260px;
  border-radius: 50px;
  background: rgba(149, 36, 0, 0.1);
  position: absolute;
  z-index: 4;
  opacity: 1;
}

.triangle-light {
  width: 400px;
  height: 600px;
  background: #FFFFFF;
  opacity: 0.2;
  position: absolute;
  right: -65%;
  transform: rotate(45deg);
}

.triangle-dark {
  width: 400px;
  height: 600px;
  background: #000000;
  opacity: 0.2;
  position: absolute;
  left: -60%;
  top: 30%;
  transform: rotate(-45deg);
}

.music-note {
  position: absolute;
  font-size: 150px;
  color: #FCB040;
  width: 1px;
  left: 50%;
  opacity: 0;
}

.music-note#one {
  margin-left: -250px;
  top: 50%;
}

.music-note#two {
  margin-left: 150px;
  top: 30%;
}

/* Shirt text removed */

/* Animations */
@keyframes music-move {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes eyebrow-raise {
  0% {
    top: -35px;
  }
  80% {
    top: -35px;
  }
  100% {
    top: -45px;
  }
}

@keyframes note-anim {
  0% {
    opacity: 0;
    transform: translate(0px, 50px);
  }
  30% {
    transform: rotate(12deg) translate(-30px, 0px);
  }
  45% {
    opacity: 1;
  }
  60% {
    transform: rotate(-12deg) translate(30px, -100px);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg) translate(0px, -200px);
  }
}

@keyframes eye-blink {
  0% {
    transform: scaleY(1) translateY(0px);
  }
  45% {
    transform: scaleY(1) translateY(0px);
  }
  50% {
    transform: scaleY(0.1);
  }
  55% {
    transform: scaleY(1) translateY(0px);
  }
  100% {
    transform: scaleY(1) translateY(0px);
  }
}
